.logo{
    color:rgb(18,115,226);;
    font-size: 50px;
    font-weight: 700;
    margin-left: 50px;
}
.banner{
    width: 1111px;
    height: 360px;
}
@media only screen and (max-width: 767px) {
    .banner{
        display: none;
    }
}
.nav-link{
    font-size: 22px;
    line-height: 28.6px;
    font-weight: 500;
}
.bd{
    border-right: 1px solid black;
    height: 50%;
}
.icon-link{
    font-size: 16px;
    margin-top: -10px;
}
.icon-link i{
    font-size: 22px;
}
.search-input {
    padding-left: 30px; /* Adjust this value according to the width of your icon */
    background-image: url('../search.svg'); /* Replace 'path/to/your-search-icon.svg' with the actual path to your search icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust the position of the icon */
    width: 492px;
}
.main-nav{
    margin: 0 20px 0 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.login-ui{
    width: 200px;
    height: 150px;
    background-color: #DEE2E7;
    margin-left: 20px;
}
.quotes{
    width: 200px;
    height: 95px;
    background: linear-gradient(251.71deg, #B75CFF 14.66%, #671AE4 90.79%);
    margin-left: 20px;
}
.quotes p{
    font-size: 16px;
    color: white;
    font-weight: 800;
}
.discount{
    width: 200px;
    height: 95px;
    background: linear-gradient(180deg, #1C86FF 0%, #0B3B72 100%);
    margin-left: 20px;
}
.discount p{
    font-size: 16px;
    color: white;
    font-weight: 800;
}
.trending{
    background: #FFF4D4;
}
.trending h1{
    padding: 20px 0;
    color: #0B3B72;
    font-size: 48px;
    font-weight: 700;
}
.box-t{
    background-color: white;
    margin: 10px;
    width: 395px;
    height: 386px;
    padding: 20px;
}
.box-t h2{
    color: #0B3B72;
    font-size: 24px;
    font-weight: 700;
}
.box-child-1{
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Rectangle207.png);
    background-size: cover;
    width: 174px;
    height: 135px;
    margin: 0 10px;
    border-radius: 5px;
}
.box-child-1 p{
    position: relative;
    top: 100px;
    color: white;
}
.box-child-2{
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Rectangle25272.png);
    background-size: cover;
    width: 174px;
    height: 135px;
    margin: 0 10px;
    border-radius: 5px;
}
.box-child-2 p{
    position: relative;
    top: 100px;
    color: white;
}

.box-child-3{
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Rectangle120.png);
    background-size: cover;
    width: 174px;
    height: 135px;
    margin: 0 10px;
    border-radius: 5px;
}
.box-child-3 p{
    position: relative;
    top: 100px;
    color: white;
}

.box-child-4{
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Rectangle121.png);
    background-size: cover;
    width: 174px;
    height: 135px;
    margin: 0 10px;
    border-radius: 5px;
}
.box-child-4 p{
    position: relative;
    top: 100px;
    color: white;
}

/* home decor */

.decor{
    background: linear-gradient(90deg, rgba(243, 192, 192, 0.5) 0%, rgba(243, 192, 192, 0.5) 101.49%);
}
.box h2{
    padding: 20px 0;
    color: #0B3B72;
    font-size: 32px;
    font-weight: 700;
}

.box{
    margin: 20px;
    background-color:#FFFFFF6E;
}
.box-child{
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Rectangle207.png);
    background-size: cover;
    width: 131px;
    margin: 15px;
    height: 124px;
    border-radius: 4px;
}
.box-child p{
    position: relative;
    top: 90px;
    color: white;
}

/* home decore css */

/* home products css */

.big-product{
    width: 305px;
    height: 700px;
}
.big-product img{
    width: 276px;
    height: 403px;
}
.rating{
    margin-top: 5px;
    display: flex;
}
.rating img{
    margin-top: 5px;
    width: 70px;
    height: 13px;
}
.rating p{
    font-size: 14px;
}
.big-wishlist{
    margin:0 5px;
    height: 48px;
    width:48px;
    background-color:#D9E2EB;
}
.big-wishlist img{
    width: 24px;
    height: 24px;
}
.big-cartbtn{
    background: linear-gradient(180deg, #0B3B72 0%, #1C86FF 100%);
    width: 172px;
    height: 48px;
}

.small-product{
    width: 204px;
    height: 350px;
}
.small-product img{
    width: 180px;
    height: 250px;
}
.pd-img {
    position: relative;
    overflow: hidden;
}
.pd-img a{
    position: absolute;
    top:12px;
    left:5px;
}
.btn-sold{
    background: linear-gradient(180deg, #1C86FF -40%, #0B3B72 98.33%);
    width: 80px;
    font-size: 12px;
    color: white;
    height: 26px;
}
.btn-sold:hover{
    background: linear-gradient(180deg, #1C86FF -40%, #0B3B72 98.33%);
    width: 80px;
    font-size: 12px;
    color: white;
    height: 26px;
}
.btn-off{
    background: #EFD33D;
    width: 80px;
    font-size: 12px;
    color: black;
    height: 26px;
}
.btn-off:hover{
    background: #EFD33D;
    width: 80px;
    font-size: 12px;
    color: black;
    height: 26px;
}

/* deals of the day */
.dealod{
    background-color:#D9E2EB;
    
}

/* suggested proucts */
.women-suggested{
    width: 290px;
    padding: 0%;
    margin: 0%;
    height: 739px;
    background: #F3DE6D;
}
.women-suggested img{
    width: 100%;
    height: 485px;
}
.women-suggested h2{
    color: #BE4646;
    font-size: 14px;
    font-weight: 600;
}
.btn-shop{
    color: white;
    font-size: 16px;
    border-radius: 0px;
    padding: 10px 32px;
    background: linear-gradient(180deg, #1C86FF -40%, #0B3B72 98.33%);
}
.summersale-child{
    width: 280px;
    margin: 0px 10px;
    height: 553px;
}
.disp{
    position: relative;
    width: 405px;
    height: 554px;
}
.disp div{
    position: absolute;
    top: 100px;
}

/* feature products css */

.feature-pd{
    background-color:#D9E2EB;
}
.featad{
    width: 290px;
    height: 100%;
}
.featad .first{
    background: #9ECCF780;
    width: 100%;
    height: 462px;
}
.featad .second{
    background: #124261;
    width: 100%;
    height: 264px;
}
.featad .second h2{
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.featad .second p{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.featad .second .btn-dis{
    text-align: center;
    background: #2DA5F3;
    border-radius: 2px;
    padding: 10px 24px;
    color: white;
    width: 248px;
    height: 48px;
}
.featad .second .summer-sale{
    width: 137px;
    height: 32px;
    padding: 6px 12px;
    border-radius: 2px;
    background: #FFFFFF1F;
    color: white;
    font-weight: 600px;
    font-size: 14px;
}

.sm-banner{
    width: 424px;
    position: relative;
    height: 536px;
    margin: 5px;
}
.sm-banner img{
    width: 100%;
    height: 100%;
}
.smb-content{
    position: absolute;
    top:40px;
    color: white;
}
.smb-content .btn{
    border-radius: 0px;
    padding: 10px 25px;
}

/* macbanner */

.macbanner{
    background-color:#FFE7D6 ;
}
.macbanner .btn{
    border-radius: 0px;
    text-align: center;
    background: #2DA5F3;
    padding: 10px 24px;
    color: white;
    width: 200px;
    height: 48px;
}
.macbanner img{
    width: 536px;
    height: 434px;
}
/* macbanner end */

/* homepage blogs card */

.blog-card{
    width: 424px;
    padding: 30px;
    height: 572px;
}
.blog-card img{
    margin: auto;
    display: block;
    width: 360px;
    height: 248px;
}
.blog-card .auther{
    margin-right: 20px;
}
.readbtn{
    border: 2px solid black;
    padding: 10px 24px;
    border-radius: 0px;
}
.readbtn:hover{
    color: white;
    background-color: black;
    border-radius: 0px;
}


/* home page blog card end */